<%= link_to("<< Back to List",{:action => 'index'}, :class => 'back-link') %>
<div class="pages show">

	<h2>Delete Page</h2>

	<%= form_for(:page, :url => {:action => 'destroy',:id => @page.id}) do %>
    
    <p>Are you sure to delete following subject?</p>
    <P>Name: </p><%= @page.name %>
    <div class="form-buttons">
	 	<%= submit_tag("Delete Page") %>
	 </div>
	<% end %>
</div>