<%= link_to("<< Back to List",{:action => 'index'}, :class => 'back-link') %>
<div class="subjects show">
	<h2>Delete Admin User</h2>
	<%= form_for(:subject, :url => {:action => 'destroy',:id => @adminuser.id}) do %>
    
    <p>Are you sure to delete following User?</p>
    <P>Name</p>
    <%= @adminuser.name %>
    <div class="form-buttons">
	 	<%= submit_tag("Delete Admin User") %>
	 </div>
	<% end %>
</div>